    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-color: #14202E;
    }

    .logo img {
      margin-left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 5px;
    }

    a {
      color: #000;
    }

    /* header */

    .header {
      backdrop-filter: blur(5px);
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
      position: fixed;
      width: 100%;
      z-index: 3;
      font-family: 'Courier New', Courier, monospace;
      text-shadow: 2px 2px 5px (#fff);
    }

    .header ul {
      font-weight: 700;
      font-size: 20px;
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
    }

    .header li a {
      display: block;
      padding: 20px 20px;
      text-decoration: none;
      color: #fff;
    }

    .header li a:hover,
    .header .menu-btn:hover {
      text-decoration: underline;
      text-decoration-color: #fff;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
    }

    .header .logo {
      display: block;
      float: left;
      font-size: 2em;
      text-decoration: none;
    }

    /* menu */

    .header .menu {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;
    }

    /* menu icon */

    .header .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
    }

    .header .menu-icon .navicon {
      background: #ffffff;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
      background: #ffffff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .header .menu-icon .navicon:before {
      top: 5px;
    }

    .header .menu-icon .navicon:after {
      top: -5px;
    }

    /* menu btn */

    .header .menu-btn {
      display: none;
    }

    .header .menu-btn:checked~.menu {
      max-height: 240px;
    }

    .header .menu-btn:checked~.menu-icon .navicon {
      background: transparent;
    }

    .header .menu-btn:checked~.menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    .header .menu-btn:checked~.menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
      top: 0;
    }

    .banner-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: auto;
      vertical-align: top;
      background-image: url(assets/hedin.jpg);

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
      backdrop-filter: blur(2px);
    }

    .photo-banner {
      display: block;
      margin-top: 50px;
    }

    .photo-banner img {
      vertical-align: center;
      display: inline-block;
      width: 450px;
      height: auto;
    }

    .description-banner {
      margin-top: 15%;
      text-align: left;
      padding: 0px 10px 0 10px;
      color: #ffffff;
      backdrop-filter: blur(2px);
      ;

    }

    .description-banner h1 {
      font-weight: 900;
      font-size: 65px;
      font-family: 'Times New Roman', Times, serif;
    }

    .description-banner p {
      line-height: 30px;
      font-size: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .btn {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: larger;
      font-weight: bold;
      letter-spacing: .1em;
      color: #F7F7FF;
      text-decoration: none;
      padding: 10px 20px;
      background-color: #b86198;
      border: #1B2432 solid 2px;
      border-radius: 5px;
      margin-top: 2em;
    }

    .btn:hover {
      background-color: #bd70a1;
      ;
    }

    .about {
      height: auto;
      text-align: center;
      background-color: #14202E;
      padding: 2em;
      color: #e0e0fb;
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 60% 40%;
      gap: 5%;
    }

    .about h2 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 60px;
    }

    .style-sec p {
      text-align: left;
      line-height: 30px;
      font-size: 20px;
      margin: auto;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .about_card {
      width: 80%;
      height: 440px;
      background-image: linear-gradient(163deg, #6a00a3 0%, #00ccff 100%);
      border-radius: 20px;
      transition: all .3s;
      vertical-align: middle;
    }

    .about_card2 {
      width: 100%;
      height: 440px;
      background-image: url(assets/dsh.jpg);
      border-radius: 20px;
      transition: all .2s;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      

    }

    .about_card2 img {
      width: 100%;
      height: 440px;
      border-radius: 20px;
      transition: all .2s;
    }

    .about_card2:hover {
      transform: scale(0.98);
      border-radius: 20px;
    }

    .about_card:hover {
      box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    }

    .skills {
      color: #fff;
      text-align: center;
      padding: 15px 10px;

      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      gap: auto;

      background: url(assets/program.jpg);

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      

    }

    .skills h2 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 60px;
    }

    .skills p {
      padding: 20px;
      text-align: left;
      line-height: 30px;
      font-size: 22px;
      margin: auto;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .skill-container {
      position: relative;
      max-width: 90%;
      width: 100%;
      margin: auto;
      padding: 10px 20px;
      border-radius: 5px;
      user-select: none;

      backdrop-filter: blur(6px);
    }

    .skill-container .skill-box {
      width: 100%;
      margin: 25px 0;
    }

    .skill-box .title {
      display: block;
      font-size: 14px;
      font-weight: 600;
      color: #D9D7DD;
    }

    .skill-box .skill-bar {
      height: 12px;
      width: 100%;
      border-radius: 2px;
      margin-top: 6px;
      background: #403F4C;
    }

    .skill-bar .skill-per {
      position: relative;
      display: block;
      height: 100%;
      width: 95%;
      border-radius: 2px;
      background: #D9D7DD;
      animation: progress 0.4s ease-in-out forwards;
      opacity: 0;
    }

    .skill-per.python {
      width: 80%;
      animation-delay: 0.1s;
    }

    .skill-per.css {
      width: 80%;
      animation-delay: 0.1s;
    }

    .skill-per .java {
      width: 60%;
      animation-delay: 0.1s;
    }

    .skill-per.javascript {
      width: 40%;
      animation-delay: 0.2s;
    }

    .skill-per.cc {
      width: 40%;
      animation-delay: 0.3s;
    }

    .skill-per .html {
      width: 100%;
      animation-delay: 0.4s;
    }

    @keyframes progress {
      0% {
          width: 0;
          opacity: 1;
      }

      100% {
          opacity: 1;
      }
    }

    .skill-img p{
      backdrop-filter:blur(2px);
    }

    .interest {
      background: #14202E;
      /* background: url(images/cs.jpg)no-repeat center center / cover; */
      color: #fff;
      height: 1000%;
      text-align: center;
      padding: 10px;
    }

    .interest h2 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 60px;
    }

    .interest-grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 50% 50%;
      gap: 5px;
      padding: 10px;
    }

    .grid-item {
      width: 100%;
      height: auto;
      border-radius: 10px;
      padding: 20px;
      font-size: 2em;
      text-align: center;
      position: relative;
      display: inline-block;
    }



    .grid-item img {
      width:90%;
      height: 90%;
      border-radius: 10px;
    }

    #overlay {
        backdrop-filter: blur(1px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 10px;
        font-size: 24px;
        text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 900;
      text-shadow: -1px 1px 0 rgb(0, 0, 0),
        1px 1px 0  rgb(5, 5, 5),
        1px -1px 0 rgb(0, 0, 0),
       -1px -1px 0 rgb(8, 8, 8);

    }

    footer {
      background-color: #2D1E2F;
      padding: 2em;
      color: #F7F7FF;
    }

    .foot-contacts {
      display: flex;
      justify-content: space-evenly;
    }

    .card {
      width: 300px;
      height: 64px;
      background: #281c35;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 20px;
      position: relative;
      border: 2px solid transparent;
      transition: all 0.5s ease-in-out;
    }

    .card:focus-within {
      background-color: rgba(17, 17, 17, 0.5);
      backdrop-filter: blur(10px);
      border: 2px solid rgb(27, 27, 27);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .card button {
      font-size: 34px;
      background-color: transparent;
      width: 50px;
      padding: 7px;
      height: 50px;
      border-radius: 100%;
      transition: all 0.2s ease-in;
      border: 0;
      cursor: pointer;
    }

    .card button:focus {
      background-color: rgb(255, 255, 255);
      margin-bottom: 50%;
    }

    .contacts {
      width: 300px;
      padding: 40px 0 0 0;
      text-align: center;
    }

    .foot-logo {
      text-align: center;
    }

    .foot-logo img{
      width: 20%;
      height: auto;
      padding: 10px;
    }

    footer hr {
      margin-top: 10px;
    }

    .copy {
      padding: 20px;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 22px;
      font-weight:500;
    }

    @media (max-width: 768px) {
      .col-md-4 {
          flex: 0 1 100%;
      }

      .about {
          margin-top: auto;
          height: auto;
          display: flex;
          flex-direction: column-reverse;
      }

      .about_card {
          width: 100%;
          height: auto;
      }

      .skills {
          margin-top: auto;
          height: auto;
          display: flex;
          flex-direction: column-reverse;
      }

      .skills p {
          font-size: 20px;
      }

      .foot-contacts {
          display: flex;
          justify-content: space-evenly;
          align-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
    }

    }

    @media (min-width: 768px) {
      .header li {
          float: left;
      }

      .header li a {
          padding: 20px 30px;
      }

      .header .menu {
          clear: none;
          float: right;
          max-height: none;
      }

      .header .menu-icon {
          display: none;
      }
    }

    @media only screen and (max-width: 768px) {
      .progress-bar {
          width: 120px;
          height: 120px;
      }

      .banner-container {
          display: flex;
          flex-direction: column-reverse;
          margin-top: auto;
      }

      .style-sec p {
          width: 100%;
          font-size: 20px;
      }

    }

    @media only screen and (max-width: 480px) {

    }

    /* Media query for mobile screens */
    @media only screen and (max-width: 768px) {
      .navbar {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          background-color: #333;
          text-align: center;
      }

      .navbar.active {
          display: flex;
      }

      .navbar ul {
          display: block;
          text-align: center;
          margin: auto;
      }

      .navbar li {
          padding: 5px;
          margin: 15px 0;
      }

      .burger-icon {
          margin-right: 10px;
          display: block;
          cursor: pointer;
      }

      .burger-icon div {
          width: 30px;
          height: 3px;
          background-color: #fff;
          margin: 6px 0;
          transition: 0.4s;
      }

      .photo-banner {
          text-align: center;
      }

      .description-banner {
          padding-top: 5%;
          height: auto;
          color: #fff;
          padding-bottom: 10;
          padding-left: 30px;
      }

      .description-banner h1 {
          font-size: 50px;
      }

      .grid-container {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      .skill-container {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }

    @media (max-width: 576px) {
      .grid-container {
          grid-template-columns: 1fr;
      }

      .grid-item {
          font-size: 24px;
      }

      .banner-container img {
          width: 280px;
          margin: 0%;
          text-align: center;
      }

      .interest-grid {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
    }

    @media screen and (max-width: 768px) {
      footer {
          flex-direction: column;
      }

      footer h3 {
          font-size: 12px;
      }

      .card {
          width: 100%;
          margin-bottom: 20px;
      }
    }
